html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.carousel-inner img {
    max-height: 500px; /* Define el alto máximo */
    width: auto; /* Mantiene la proporción de la imagen */
}

.logo {
    max-width: 60px; /* Ajusta el tamaño máximo del logotipo */
    margin-right: 10px; /* Espacio entre el logotipo y el texto */
}